@page "/todolist"
@using Školní.Models
@inject ITodoService _TodoService

<h3>ToDoPage</h3>
<div class="container">
    <EditForm Model="@_toDo" OnValidSubmit="@HandleValidSubmit">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Todo name:</label>
            <InputText class="form-control" id="exampleInputEmail1" @bind-Value="@_toDo.Name" aria-describedby="emailHelp"></InputText>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail2" class="form-label">Todo Description:</label>
            <InputText class="form-control" id="exampleInputEmail2" @bind-Value="@_toDo.Description" aria-describedby="emailHelp"></InputText>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </EditForm>
</div>

@code {
    private ToDo _toDo = new ToDo();

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task HandleValidSubmit()
    {

        await 
        
    }
}
